@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

    <h2>Borrowed books</h2>
    <hr />
    <p>
    <a asp-action="LoanBook" class="btn btn-outline-light">New loan application</a>
    </p>

    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.BookDescription)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.LoanStart)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.LoanEnd)
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanEnd)
                </td>
                <td>
                    @*<a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.LoanHistoryId">Edit</a> |*@
                    <a class="btn btn-outline-warning" asp-action="Delete" asp-route-id="@item.LoanHistoryId">Return</a>
                </td>
            </tr>
        }
        </tbody>
    </table>