@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

    <h2>User dashboard</h2>
    <hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <p>
                <a asp-controller="UserMenu" asp-action="Create" class="btn btn-primary">Borrow book</a>
                <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Book register</a>
            </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <form asp-action="GetLoggedInUserBook" method="get">
                <div class="input-group">
                    <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Search by first name..." />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-lg-4">
            <form id="searchFormReturned" action="" method="get">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switchReturned" name="switchReturned" value="true" @(ViewBag.switchReturned == true ? "checked" : "") onchange="document.getElementById('searchFormReturned').submit();" />
                    <label class="form-check-label" for="switchReturned">Show returned Books Only</label>
                </div>
            </form>
            <form id="searchFormLoaned" action="" method="get">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switchLoaned" name="switchLoaned" value="true" @(ViewBag.switchLoaned == true ? "checked" : "") onchange="document.getElementById('searchFormLoaned').submit();" />
                    <label class="form-check-label" for="switchLoaned">Show Loaned Books</label>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-lg-4">
          
        </div>
    </div>

    <hr />
    @if (TempData["LoanCreatedMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["LoanCreatedMessage"]
        </div>
        <hr />
    }

</div>
<div class="container">
    <table class="table table-striped table-hover table-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.BookDescription)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.LoanStart)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.LoanEnd)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.IsLoaned)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.IsReturned)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.ReturnedDate)
                </th> 
                <th>
                    Options
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
                <tr class="@(TempData["LatestLoanId"] != null && TempData["LatestLoanId"].Equals(item.LoanHistoryId) ? "table-success" : "")">
                    <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLoaned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReturned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnedDate)
                </td>
                <td>
                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.LoanHistoryId">Return</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>