@model IEnumerable<Lab4ASP.Models.BookType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
