@model IEnumerable<Lab4ASP.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<style>
    .user-added {
        background-color: yellow;
    }
</style>

<div class="bg-light mt-5 p-5 rounded">
    <div class="text-center">
        <h1>Lab4ASP Library</h1>

        <h4>User register</h4>
        <hr />
    </div>
    

    <p>
        <a asp-action="Create" class="btn btn-primary">Add User</a>
        <a class="btn btn-dark" asp-controller="LoanHistories" asp-action="GetUserBook">Back to dashboard</a>
    </p>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="table-responsive">
        <table class="table table-striped bg-light table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    //Assign to userAddedId and check against item.Id for newly added id and highlight
                    var userAddedId = TempData["UserAddedId"] as string;

                    <tr class="@(!string.IsNullOrEmpty(userAddedId) && item.Id == userAddedId ? "user-added" : "")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-light btn-sm">Actions</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
