@model Lab4ASP.Models.JunctionTables.LoanHistory

@{
    ViewData["Title"] = "Delete";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
<h1 class="card-title">Lab4ASP Library</h1>

<h4 class="card-subtitle">Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Users.FullName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FK_BookId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FK_BookId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LoanStart)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LoanStart)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LoanEnd)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LoanEnd)
        </dd>
        @if(!Model.IsReturned)
        {
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DaysLeft)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DaysLeft)
        </dd>
        }
                           
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoanHistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="GetUserBook">Back to List</a>
    </form>
</div>
        </div>
    </div>
</div>
    </div>
</div>
