@model Lab4ASP.Models.JunctionTables.LoanHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoanHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLoaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLoaned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoanHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
