@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

@{
    ViewData["Title"] = "GetUserBook";
}

<h1>Loan histories in Lab4ASP Library register</h1>
<hr />
<div class="row justify-content-center">
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>
    </div>


    <div class="col-md-4">
        <form asp-action="GetUserBook" method="get">
            <p>
                <label for="searchString">Search:</label>
                <input type="text" name="searchString" id="searchString" placeholder="Search by first name..." />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
    <div class="col-md-4">
        <form id="searchForm" action="" method="get">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="switchLoanSearch" name="switchLoanSearch" value="true" @(ViewBag.SwitchLoanSearch == true ? "checked" : "") onchange="document.getElementById('searchForm').submit();" />
                <label class="form-check-label" for="switchLoanSearch">Show returned Books Only</label>
            </div>
        </form>




    </div>
</div>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLoaned)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanStart)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IsLoaned)
                </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LoanHistoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LoanHistoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LoanHistoryId">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

    @*Modal content*@
    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add User Form -->
                    <form asp-controller="Users" asp-action="Create" method="post">
                        <!-- Form fields for creating a user -->
                        <!-- Example: -->
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div><div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <!-- Add more form fields as needed -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>