@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

@{
    ViewData["Title"] = "GetUserBook";
}

<h1>Search user in Library register</h1>

<div>
    <div>
        <form asp-action="GetUserBook" method="get">
            <p>
                <label for="searchString"></label>
                <input type="text" name="searchString" id="searchString" placeholder="Search by first name..." />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>


</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLoaned)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanStart)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IsLoaned)
                </td>
            </tr>
        }
    </tbody>
</table>