@model List<Lab4ASP.Models.ViewModels.UserBookViewModel>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>


<div class="container mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="carousel-item @((i == 0) ? "active" : "")">
                    @if (Model[i].BookPicture != null)
                    {
                        <img class="d-block w-100" style="width:150px;height:250px; object-fit:cover" src="data:image;base64,@Convert.ToBase64String(Model[i].BookPicture)" alt="Book Picture">
                    }
                    else
                    {
                        <div class="no-picture">No picture available</div>
                    }
                    <div class="carousel-caption">
                        <h3>@Html.DisplayFor(model => Model[i].BookTitle)</h3>
                        <p>@Html.DisplayFor(model => Model[i].BookDescription)</p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="news rounded">
    <div class="row text-center">
        
            <h2>NEWS</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="./images/support.png" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Assessment support from your library</h5>
                    <p class="card-text">Where? What? How? Find your answers in the libraries</p>
                    <p>WEDNESDAY 3 MAY 2023</p>
                        <a href="#" class="btn btn-outline-light text-dark">MORE ></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="./images/appointment.png" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">New Associate Director appointment</h5>
                    <p class="card-text">Dr Jenny Haynes has been appointed as the new Associate Director: Cultural...</p>
                    <p>TUESDAY 2 MAY 2023</p>
                        <a href="#" class="btn btn-outline-light text-dark">MORE ></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img src="./images/makerspace.png" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">New Library Makerspace now open</h5>
                    <p class="card-text">Experiment and have fun at our creative tech hub in the Edward Boyle Library.</p>
                    <P>MONDAY 24 APRIL 2023</P>
                        <a href="#" class="btn btn-outline-light text-dark">MORE ></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="./images/spacefinder.png" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Spacefinder now even better</h5>
                    <p class="card-text">Spacefinder update takes study spaces beyond libraries and across campus</p>
                    <p>THURSDAY 30 MARCH 2023</p>
                    <a href="#" class="btn btn-outline-light text-dark">MORE ></a>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
