@model Lab4ASP.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Lab4ASP Library</h1>

                    <h3 class="card-subtitle">Are you sure you want to delete this?</h3>
                    <hr />

                    <div>
                        <h4>Book</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.BookTitle)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.BookTitle)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.BookDescription)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.BookDescription)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.PublishedYear)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.PublishedYear)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.BookTypes.BookTypeName)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.BookTypes.BookTypeName)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="BookId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-dark">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
