@model IEnumerable<Lab4ASP.Models.ViewModels.UserBookViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanEnd)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanStart)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LoanEnd)
                </td>
            </tr>
        }
    </tbody>
</table>