@model IEnumerable<Lab4ASP.Models.ViewModels.BookRegisterViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="mt-5 p-5 rounded">
    <div class="card p-2">
    <h1>Lab4 Library book register</h1>

        <div class="col-md-6 col-lg-4">
            <p>
                @{
                    if (User.IsInRole("SuperAdmin"))
                    {
                        <a class="btn btn-primary" asp-action="Create">Add book</a>
                        <a class="btn btn-dark" asp-controller="LoanHistories" asp-action="GetUserBook">Back to dashboard</a>
                    }
                    else if (User.IsInRole("Basic"))
                    {
                        <a class="btn btn-dark" asp-area="" asp-controller="UserMenu" asp-action="GetLoggedInUserBook">Dashboard</a>
                    }
                    else
                    {
                        <h3 class="text-dark">Lab4ASP Library</h3>
                    }
                }
            </p>
        </div>
   
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-3">
        @foreach (var item in Model)
        {
            <div class="col mb-4">
                <div class="card h-100 d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <h5 class="card-title">@item.BookTitle</h5>
                        <p class="card-text">
                            <strong>Book ID:</strong> @item.BookId <br />
                            <strong>Description:</strong> @item.BookDescription <br />
                            <strong>Published:</strong> @item.Published <br />
                            <strong>Genre:</strong> @item.Genre <br />
                            <strong>Author:</strong> @item.Author <br />
                            <strong>Quantity:</strong> @item.Quantity
                        </p>
                    </div>
                    @if (item != null && item.BookPicture != null)
                    {
                        <img class="rounded-bottom" id="bookPicture" style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.BookPicture))">
                    }
                    else
                    {
                        <div class="card-body text-center" style="width:150px;height:150px">
                            <p>No picture</p>
                        </div>
                    }
                    <div class="card-body">
                        @{
                            if (User.IsInRole("SuperAdmin"))
                            {
                                <!-- Loan button -->
                                @if (item.Quantity > 0)
                                {
                                    <a class="btn btn-primary" asp-action="Create" asp-controller="LoanHistories" asp-route-id="@item.BookId">Add loan user</a>
                                }
                                else
                                {
                                    <button class="btn btn-primary loan-button" disabled>Not avaible</button>
                                }
                            }
                            else if (User.IsInRole("Basic"))
                            {
                                <!-- Loan button -->
                                @if (item.Quantity > 0)
                                {
                                    <a class="btn btn-primary" asp-action="Create" asp-controller="UserMenu" asp-route-id="@item.BookId">Loan</a>
                                }
                                else
                                {
                                    <button class="btn btn-primary loan-button" disabled>No Stock</button>
                                }
                            }
                            else
                            {
                                <h3 class="text-dark">Lab4ASP Library</h3>
                            }
                        }
                       
                    </div>
                    @if(User.IsInRole("SuperAdmin"))
                    {
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-light btn-sm">Options</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if(User.IsInRole("Basic"))
                    {
                        <h4 class="text-dark">Lab4ASP Library</h4>
                    }

                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
